$color-black: #000;
$color-orange: orange;
$font-menu: 'Krona One', sans-serif;
$font-logo: 'Akronim', cursive; 
$height-full: 100vh;
$section-full-height:
    "index-s1",
    "privacy-s1";
$text-shadow-gray: 1px 1px 1px #bbb;